:root {
    --gradient-one: #841C3B;
    --gradient-two: #693D53;
    --primary-color: linear-gradient(to right top, #841c3b, #7e2643, #782f4a, #70374f, #693d53);
}

body {
    margin: 0 auto;
}

#app {
    background-image: var(--primary-color);
}

.app-wrapper {
    padding: 3em;
    min-height: 100vh;
    max-width: 1200px;
    animation: fadeIn 750ms;
}

.search-bar {
    color: var(--gradient-two);
    font-size: 28px;
    margin-bottom: 0.25em;
}

.artist-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.artist-card-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.artist-card-icon a {
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-out {
    animation: fadeOut 500ms;
}

.fade-in {
    animation: fadeIn 500ms;
}